{{> _html}}

<div class='__page-container'>

  {{> m_TopBar--overlay }}

  <div class='__content-container'>

    <div class='__content content' role='main'>


        <section class='__section __section--{{ section }} {{ mindset }}--light {{ section }}--light'>

          <div id="grid-gallery" class="grid-gallery">

            <section class="grid-wrap">

              <ul class="grid">
                <li class="grid-sizer"></li><!-- for Masonry column width -->

                {{#each collections.gridGallery }}
                <li>
                  <figure>
                    <img src="{{ this.imageThumbUrl }}" alt="{{ this.imageAltText }}"/>
                    <figcaption><h3>{{ this.heading }}</h3><p>{{ this.caption }}</p></figcaption>
                  </figure>
                </li>
                {{/each}}

              </ul>

            </section><!-- // grid-wrap -->

            <section class="slideshow">
              <ul>

                {{#each collections.gridGallery }}
                <li>

                  <figure>
                    <figcaption>
                      <h3>{{ this.heading }}</h3>
                      <p>{{ this.caption }}</p>
                    </figcaption>
                    <img src="{{ this.imageLargeUrl }}" alt="{{ this.imageAltText }}"/>
                  </figure>

                </li>
                {{/each}}

              </ul>

              <nav>
                <span class="icon nav-prev ion-ios7-arrow-left"></span>
                <span class="icon nav-next ion-ios7-arrow-right"></span>
                <span class="icon nav-close ion-ios7-close"></span>
              </nav>
              <div class="info-keys icon">Navigate with arrow keys</div>

            </section><!-- // slideshow -->

          </div><!-- // grid-gallery -->

        </section>

      </div>

    </div>

    {{> o_Footer }}


  </div>



{{> _close}}
