{{> _html}}


<div class='__page-container'>

  {{> m_TopBar--overlay }}

  <div class='__content-container'>

    <div class='__content content' role='main'>

      <section class='__section __section--{{ section }} {{ this.section }}'>
        <div class='_site-width _site-width--{{ this.section }}'>
          <div class='_copy-width _copy--{{ section }}'>

            <div class="">
              <h1>{{ heading }}</h1>
            </div>

            <ol class="timeline">
            {{#collections.sheets}}
              {{#data }}
                {{#timeline }}
                <li class="tl-node">
                  <div class="tl-stamp">{{ this.milestone }}</div>
                  <div class="tl-content">{{ this.event }}</div>
                  {{{ this.message }}}
                </li>
                {{/timeline}}
              {{/data}}
            {{/collections.sheets}}
            </ol>

          </div>
        </div>
      </section>

    </div>

  </div>

  {{> m_SiteNav--overlay }}

  {{> o_Footer }}

</div>

{{> _close}}
